h2{
  padding: 1rem;
  color: rgb(228, 177, 69); /* #620000 */
  text-shadow: 1px 1px rgb(173, 98, 36);
}
button{
  padding: 1rem;
  color: rgb(255, 255, 255); /* white */
  background: #e77122; /* #e72929 */
  display: block;
  width: 99%;
  border-radius: 1rem;
  text-align: center;
  opacity: 0.8;
  justify-self: center;
}

button:hover{
  opacity: 1;
  cursor: pointer;
}
